@tailwind base;
@tailwind components;
@tailwind utilities;


/* Custom css */

* { font-family: 'Raleway', sans-serif; }
body { background-color: #F1F2F6; }

.font-inter { font-family: 'Inter', sans-serif; }
.c-shadow {filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.5));}